#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

body {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
}

nav {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

nav h2 {
  display: inline-block;
  padding: 5px;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
}

nav #search_input_box {
  display: inline-block;
  height: auto;
  padding: 5px;
  margin: 0;
  float: right;
}

section {
  padding:0;
  margin:10px 0 0 0;
}

.home-item-container {
  padding: 5px;
  margin: 0;
}

.home-item-container ul {
  padding: 0;
  margin: 0;
}
.home-item-container li {
  list-style: none;
  width: 100%;
  height: auto;
  padding: 5px 0;
  border-bottom: 1px solid lightblue;
}

.home-item-container a {
  text-decoration: none ;
}

#midbar {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
}

.buttons {
  margin-top: 10px;
  padding:5px 0;
}